@import "compass/reset";
@import "compass/css3";

.app {
  background-color: #bdc3c7;
}

.jumbotron {
  background-color: #c0392b !important;
  .container{
    .btn {
      background-color: #bdc3c7;
      border: none;
    }
  }
}

.content {
  background-color: #bdc3c7;
  padding: 3em;
  border-radius: 20px;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row-user {
  @include flexbox((
    display: flex,
    flex-direction: row,
    justify-content: space-between
  ));
  margin: 0 0 3em 0;
  img {
    width: 50px;
    height: auto;
    border-radius: 5px;
  }
}
