// http://codepen.io/cpowers/pen/GjEkrq
body
  background-color: #bdc3c7

.jumbotron
  background-color: #c0392b
  .btn
    background-color: #bdc3c7
    border: none

.content
  background-color: #1abc9c
